.juejin {
  padding-top: 0.14rem;
  height: 1.2rem;
  position: absolute;
  right: 8.5rem;
}

.v-button-plain, .v-button {
  cursor: pointer;
    font-size: 1.05em;
    font-weight: 600;
    letter-spacing: 0.1em;
    min-width: 8em;
    text-align: center;
    text-decoration: none;
    padding: 0.65em 1.85em;
    border-radius: 2em;
    /* display: inline-block; */
    color: #4fc08d !important;
    transition: all 0.15s ease;
    box-sizing: border-box;
    border: 1px solid #4fc08d;
    margin-right: 1em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.v-button:hover, .v-button-plain:hover {
  transform: scale(1.04);
}

.v-button {
  color: #ffffff !important;
  background-color: #4fc08d;
}

/* #busuanzi_container_site_pv,
#busuanzi_container_site_uv {
  position: fixed;
  color: #888888;
  bottom: 0;
  right: 0;
  font-size: 12px;
}

#busuanzi_container_site_uv {
  bottom: 12px;
} */